section#home.home.active.section
   .container 
      .row 
         .home-info.padd-15 
            h3.hello Hello, my name is 
               span.name Ishtiaq Naqi 
            h3.my-profession I'm a 
               span.typing Web developer and designer
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero reprehenderit aut laborum fugit quasi quisquam obcaecati quo sapiente harum quod?
            a(href="#" class="btn") Download CV
         
         .home-img.padd-15
            img(src="../images/hero.jpg" alt="Main Image")