mixin portfolioImage(img)
   .portfolio-item.padd-15
      .portfolio-item-inner.shadow-dark
         .portfolio-img 
            img(src=img alt="")

section#portfolio.portfolio.section 
   .container
      .row 
         .section-title.padd-15
            h2 Portfolio
      .row 
         .portfolio-heading.padd-15
            h2 My Last Projects :
      .row 
         //- Portfolio item goes here
         - const image = "../Images/portfolio-1.jfif"
         + portfolioImage(image)
         - const image2 = "../Images/portfolio-2.jfif"
         + portfolioImage(image2)
         - const image3 = "../Images/portfolio-3.jfif"
         + portfolioImage(image3)
         - const image4 = "../Images/portfolio-4.jfif"
         + portfolioImage(image4)
         - const image5 = "../Images/portfolio-5.jfif"
         + portfolioImage(image5)
         - const image6 = "../Images/portfolio-6.jfif"
         + portfolioImage(image6)